<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBC News</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron" style="color:black">
    <h1 style="color:black">
        this is the latest news
    </h1>

</div>
<div class="container">
    {% for new,des,i in mylist %}
    <img src="{{i}}" alt="">
    <h3>News:</h3>{{new}}
    {{value | linebreaks}}
    <h4>Description:</h4>{{des}}
    {{value | linebreaks}}
    {% endfor %}
</div>
</body>
</html>